*.a
*.gmo
*.o
*.pico
*.pot
*.so
*.so.*
*.swp
*~
.depend
config.mak
data/*.gtab
data/*.kbm
data/extr1
data/gtab.list
data/pho-huge.tab2
data/pho.tab2
data/pin-juyin.xlt
data/s-pho-huge.tab2
data/s-pho.tab2
data/s-tsin32
data/s-tsin32.idx
data/s2t.dat
data/t2s-file
data/t2s.dat
data/tsin-1.src
data/tsin32
data/tsin32.idx
hime
hime-cin2gtab
hime-exit
hime-gb-toggle
hime-gtab2cin
hime-gtab-merge
hime-juyin-learn
hime-kbm-toggle
hime-message
hime-phoa2d
hime-phod2a
hime-setup
hime-sim
hime-sim2trad
hime-trad
hime-trad2sim
hime-ts-edit
hime-tsa2d32
hime-tsd2a32
hime-tsin2gtab-phrase
hime-tslearn
kbmcv
pin-juyin
tmp/
.idea/
.gitignore
