*.a
*.gmo
*.o
*.pico
*.pot
*.so
*.so.*
*~
.depend
hime-cin2gtab
config.mak
data/ar30-big.gtab
data/ar30.gtab
data/cj-punc.gtab
data/cj.gtab
data/cj5.gtab
data/cj543.gtab
data/colemak.kbm
data/dayi3.gtab
data/dvorak.kbm
data/et.kbm
data/et26.kbm
data/extr1
data/greek.gtab
data/hangul.gtab
data/hsu.kbm
data/ibm.kbm
data/jyutping.gtab
data/latin-letters.gtab
data/mitac.kbm
data/pho-huge.tab2
data/pho.tab2
data/pin-juyin.xlt
data/pinyin-no-tone.kbm
data/pinyin.gtab
data/pinyin.kbm
data/russian.gtab
data/s-pho-huge.tab2
data/s-pho.tab2
data/s-tsin32
data/s-tsin32.idx
data/s2t.dat
data/simplex-punc.gtab
data/simplex.gtab
data/symbols.gtab
data/t2s-file
data/t2s.dat
data/tsin-1.src
data/tsin32
data/tsin32.idx
data/zo.kbm
hime-gtab2cin
hime
kbmcv
pin-juyin
tmp/
.idea/
.gitignore
